<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <Link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">


</head>
<body class="intro-header" style="background-image: url('static/home.png')">

<font color="red">
    <p>Data Predicted</p></font>

<form id='template' action='/template' method='post'>
    <br><br >
    <input type='submit' name='Submit' value='Uploaded data' ype="text" STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 12px; background-color: #72A4D2;"  /> <br><br>
    <input type='submit' name='Submit' value='hourly to monthly analysis'ype="text" STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 12px; background-color: #72A4D2;" /><br><br>
    <input type='submit' name='Submit' value='validating last 20% data graph' ype="text" STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 12px; background-color: #72A4D2;"/><br><br>
    <input type='submit' name='Submit' value='Rolling mean and standard deviation'ype="text" STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 12px; background-color: #72A4D2;" /><br><br>
    <input type='submit' name='Submit' value='Rolling mean and standard deviation after removing trend' ype="text" STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 12px; background-color: #72A4D2;"/><br><br>
    <input type='submit' name='Submit' value='Rolling mean and standard deviation for testing stationary graph'ype="text" STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 12px; background-color: #72A4D2;" /><br><br>
    <input type='submit' name='Submit' value='Rolling mean and standard deviation for making stationary graph'ype="text" STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 12px; background-color: #72A4D2;" /><br><br>
    <input type='submit' name='Submit' value='Rolling mean and standard deviation after removing seasonality'ype="text" STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 12px; background-color: #72A4D2;" /><br><br>
    <input type='submit' name='Submit' value='ACF(Autocorrelation Function) graph'ype="text" STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 12px; background-color: #72A4D2;" /><br><br>
    <input type='submit' name='Submit' value='PACF(Partial Autocorrelation Function) graph' ype="text" STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 12px; background-color: #72A4D2;"/><br><br>
    <input type='submit' name='Submit' value='Check the model by fitting in past value' ype="text" STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 12px; background-color: #72A4D2;"/><br><br>
    <input type='submit' name='Submit' value='Prediction of Future data' ype="text" STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 12px; background-color: #72A4D2;"/><br><br>
    <input type='submit' name='Submit' value='Prediction_Graph'ype="text" STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 12px; background-color: #72A4D2;" /><br><br>
    <input type='submit' name='Submit' value='Back'ype="text" STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 12px; background-color: #72A4D2;" /><br><br>
   


</form>
</body>
</html>