<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <Link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">

</head>
<body >

<h1><font size="150" />Rolling Mean and Standard Deviation</font>

<div class="divider"/div>
</h1>



<img src="{{ user_image }}" class="imgsize" alt="User Image" >
<form id='template' action='/template1' method='post'>
   <p> <input type='submit' name='Submit' class="button1" value='Back' align='left'/></p>
</form>
<form id='template' action='/Roll_m_stand_d_no_trend' method='post'>
   <p> <input type='submit' name='Submit' class="button2" value='Next' align='right'/></p>
</form>

</body>
</html>