<html>
<head>
<title>Login Page</title>
 <Link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">

</head>
<body class="intro-header" style="background-image: url('static/train.png')">
<form id="Prediction_form" action="/sign_up" method="POST" enctype="multipart/form-data">


<h1><font size="150" />Prediction Page</font>

<div class="divider"/div>
</h1>




<p>
<br><br><br><br><br><br><br><br><br>
<input type= submit name='Submit'class='button' value='Upload Data'/>
</p>

</table>
</form>
</body>
</html>